*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tituloCurso{
  margin: 1rem;
}

.img {
  /*width: 18rem;
  height: auto;
  max-height: 100%;*/
  width: 299px;
  height: 168px;
}


.carousel_container {
  width: 100%;
  /*Aqui controla a barra de navegaçao*/
  overflow: auto;
}

.carousel {
  margin: 1rem;
  width: 100%;
  
    /*Aqui controla a barra de navegaçao*/
  transition: transform 0.3s ease-in-out;

  display: flex;
  align-items: center;
  gap: 3rem;
}

.carousel_item {
  flex: 1 1 100%;
}

.divBotoes{
  margin-top: 2rem;
  display: flex;
  gap: 15px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #ccc;
  color: black;
  text-decoration: none;
  text-align: center;
}


.button:hover {
  background-color: #999;
}




/*
//Quando passa o mouse por cima ele gira automaticamente
.carousel_container:hover .carousel {
  transform: translateX(-100%);
}

//Espa
.carousel_container:hover .carousel-item:first-child {
  margin-left: 100%;
}
*/