.tituloCurso{
  margin: 1rem;
}

.carousel_container {
  width: 100%;
  /*Aqui controla a barra de navegaçao*/
  overflow: auto;
 
}

.carousel {
  margin: 1rem;
  width: 100%;
  
  /*Aqui controla a barra de navegaçao*/
  transition: transform 0.3s ease-in-out;

  display: flex;
  align-items: center;
  gap: 3rem;
}

.carousel_item {
  flex: 1 1 100%;
}

.img {
  /*width: 18rem;
  height: auto;
  max-height: 100%;*/
  width: 299px;
  height: 168px;
}

.divBotoes{
  margin-top: 2rem;
  display: flex;
  gap: 15px;
}

.button {
  display: inline-block;
  padding: .7rem;
  border-radius: 30px;

  background-color: #ccc;
  color: black;

  text-decoration: none;
  text-align: center;
}

.button:hover {
  background-color: #999;
}

/* Media queries */
@media (max-width:600px) {
  .carousel_item {
      flex-basis: calc(100% - (3rem *2));
}
}