.header{
    box-sizing: border-box;
    margin: 0.7rem;
}

.divImgTxt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.img{ 
    width: 299px;
    height: 168px;
}


.input{
    width: 100%;
    padding: .6rem;
    border-radius: 2rem;
    box-sizing: border-box; /* Adicione essa propriedade para incluir o padding e a borda no cálculo da largura total */
    height: 3rem; /* Defina uma altura desejada */
}

.divLista{
    display: flex;
}


.menu{
    margin-top: 1rem;
    margin-left: 1rem;

    font-size: 1.5rem;
    /*Remove as marcas de bolinhas do li*/
    list-style-type: none;

    display: flex;
    gap: 0.7rem;
}