/*Reset do css*/

body, input, textarea, button { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1rem;
  }  

body {
      margin: auto;
      text-align: center;
   }
   