.sectionParallax{
    background-image: url('../../public/imagens/fundos/parallax.jpg');
    background-size: auto;
    background-attachment: fixed;
    background-size: cover;

    color: white;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divTitulo{
    padding: 3rem;
    color: rgb(235, 242, 248);
}

.blogParagraph {
    font-size: 25px;
    color: rgb(183, 183, 187);
}

.techWorldBlog {
    color: rgb(98, 136, 113);
}

.imagem{
    max-width: 100%;
}

@media screen and (max-width:728px) {
    .sectionParallax{
        background-position: right top ;
    }
    
    .divTitulo {
        padding: 1rem; /* Reduz o espaçamento do título em telas menores */
    }
}