.section{
    background-color: #141414;
    color: white;

    height: 100vh;
    display: flex;
}

.imagem{
    max-width: 100%;
}

.button{
    min-height: 5rem;
    max-height: 8rem;
    min-width: 10rem;
    max-width: 20rem;
}