.SectionTrabalho{
    color: black;
    font-family:  sans-serif;
    min-height: 100vh;
}

@media screen and (max-width: 728px) {
    .SectionTrabalho{
        display: flex;
        flex-direction: column;
    }

    .divTitulos{
       display: flex;
       flex-direction: column;
     }
}
